---
import Github from "../assets/github.astro";
import Linkedin from "../assets/linkedin.astro";
import Youtube from "../assets/youtube.astro";
import LogoWrapper from "../assets/logoWrapper.astro";
import Logo from "../assets/logo.astro";
import Dots from "../assets/dots.astro";

import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import ThemeSwitch from "../components/ThemeSwitch.astro";

const truncate = (text: string, length: number = 56) =>
  text.length > length - 5 ? `${text.substring(0, length - 5)}...` : text;

const videos = [
  {
    title:
      "El Curioso Minimalismo de Super Mario World (RETROSPECTIVA) | PLANO DE JUEGO",
    img: "https://i.ytimg.com/vi/fyUV0Ll_Mt0/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAnqmjl5lMtyuXajuEXyVIi-xJ7Hg",
  },
  {
    title: "Herramientas de Software que todo programador llegará a usar",
    img: "https://i.ytimg.com/vi/t4pbPOEzEiE/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCzGCO2_1Lkva0uJwAj7fPCKSz2Kw",
  },
  {
    title:
      "Build a MERN React Admin Dashboard | Redux Toolkit Query, Backend Focus, Deployment, Data Modeling",
    img: "https://i.ytimg.com/vi/0cPCMIuDk2I/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLA0V--ei9rIpg4xSZcsgN1-sF8KYg",
  },
];

const posts = [
  {
    title: "Crea Aplicaciones de Escritorio con JavaScript y Electron",
    description:
      "Usando Flyyer puedes crear og:images para tu aplicación React o Vue.js. Está creado con estándares web y funciona en todos...",
    img: "https://i.ytimg.com/vi/ir9yaSgbOdY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAXsprYmpd2fSbrhCXUeKowYS2geQ",
  },
  {
    title: "¡Tailwind CSS está creciendo! Extensiones VSCode y más",
    description:
      "En este blog post aprenderás qué es Tailwind, por qué es importante, cómo utilizar las extensiones de VS Code y mucho más.",
    img: "https://i.ytimg.com/vi/FMveryfDn-c/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLB5sBezbcQOb3QowKGuA84Y4Uk8bg",
  },
  {
    title: "Portfolio Website With React JS & Tailwind CSS",
    description:
      "En este blog post aprenderás qué es Tailwind, por qué es importante, cómo utilizar las extensiones de VS Code y mucho más.",
    img: "https://i.ytimg.com/vi/Hps-XPN1GeE/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDN6F45hVY6BXOpTlaJ9PUdMq99OQ",
  },
  {
    title: "Coding A Pong Game in Python",
    description:
      "En este blog post aprenderás qué es Tailwind, por qué es importante, cómo utilizar las extensiones de VS Code y mucho más.",
    img: "https://i.ytimg.com/vi/HNCAi0sjAz8/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAB4KbQ4WXmyKdUyzUbvG89o2h15g",
  },
];

const links = [
  {
    label: "About",
    url: "/",
  },
  {
    label: "Works",
    url: "/",
  },
  {
    label: "Contact",
    url: "/",
  },
];
---

<Layout title="Emmanuel Villegas">
  <main class="max-w-screen-lg px-4 pt-6 lg:mx-auto lg:px-12 lg:pt-8 xl:px-0">
    <!-- Header -->
    <header>
      <nav class="flex justify-between">
        <a href="/">
          <span class="text-sm font-bold dark:text-white lg:text-base"
            >Emmanuel Villegas</span
          >
        </a>
        <div class="hidden lg:flex lg:space-x-6">
          {
            links.map((link) => (
              <a
                href={link.url}
                class="text-sm font-bold dark:text-white lg:text-base"
              >
                {link.label}
              </a>
            ))
          }
        </div>
        <div class="flex items-center space-x-4">
          <p class="flex text-sm dark:text-white lg:text-base">
            <span class="font-bold transition-none">ENG</span>|ES
          </p>
          <ThemeSwitch />
          <div class="lg:hidden">
            <Dots svgClass="w-5 h-5" pathClass="fill-primary dark:fill-white" />
          </div>
        </div>
      </nav>
    </header>
    <section class="mt-24 lg:mt-32 lg:flex lg:flex-row-reverse">
      <!-- image -->
      <div class="flex w-full justify-center lg:w-5/12">
        <div
          class="relative h-max w-max rounded-[48px] border-[6px] border-primary p-1 dark:border-white"
        >
          <!-- Logo -->
          <div
            class="absolute -right-7 -top-7 h-max w-max lg:-right-11 lg:-top-11"
          >
            <div
              class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 lg:w-[33.41px]"
            >
              <Logo
                svgClass="w-[25px] h-[21px] lg:w-[33.41px] lg:h-[27.43px]"
                pathClass="fill-white dark:fill-primary"
              />
            </div>
            <LogoWrapper
              svgClass="w-[77.33px] h-[77.33px] lg:w-[107.66px] lg:h-[107.66px]"
              pathClass="fill-primary dark:fill-white"
            />
          </div>
          <!-- Profile -->
          <div
            class="w-[148px] overflow-hidden rounded-[40px] bg-primary dark:bg-white lg:w-[210px]"
          >
            <img class="w-full" src="/images/profile.png" alt="profile" />
          </div>
          <!-- Chat -->
          <div
            class="absolute -left-14 bottom-4 rounded-2xl border-2 border-primary bg-white px-3 py-2 lg:py-3 lg:px-4"
          >
            <p class="text-[10px] font-bold lg:text-xs">
              “Talk is cheap.<br />Show me the code”
            </p>
          </div>
        </div>
      </div>
      <div class="lg:w-6/12">
        <!-- Text -->
        <div class="mt-5 mb-8 lg:mb-3">
          <p
            class="mb-4 text-center font-gugi text-xl dark:text-white lg:mb-5 lg:text-left lg:text-3xl lg:text-[32px]"
          >
            Hi, I’m Emmanuel and I’m<br />a <span
              class="bg-primary px-1.5 py-1 text-white dark:bg-white dark:text-primary"
              >Senior Frontend Engineer</span
            >
          </p>
          <p
            class="text-center text-xs dark:text-gray-400 lg:text-left lg:text-sm"
          >
            I design and code beautyfully simple code I design and beautyfully
            simple things, and I love what I do design and code.
          </p>
        </div>
        <!-- Social -->
        <div class="flex flex-col items-center justify-center lg:items-start">
          <button
            class="rounded border-2 border-primary p-2 text-sm font-bold dark:border-white dark:text-white"
            >LET’S CHAT!<span class="animate-blink-anim">_</span>
          </button>
          <div class="mt-6 flex space-x-5 lg:mt-[100px]">
            <div
              class="flex h-12 w-12 items-center justify-center rounded-full bg-gray-100"
            >
              <Github />
            </div>
            <div
              class="flex h-12 w-12 items-center justify-center rounded-full bg-gray-100"
            >
              <Linkedin />
            </div>
            <div
              class="flex h-12 w-12 items-center justify-center rounded-full bg-gray-100"
            >
              <Youtube />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-12 lg:mt-36">
      <div>
        <h2 class="text-sm font-bold dark:text-white lg:text-2xl">
          Explore Latest Video
        </h2>
        <p class="text-xs dark:text-gray-400 lg:text-sm">
          Click on play icon and enjoy video
        </p>
      </div>
      <div
        class="relative -left-4 mt-5 box-border w-screen overflow-x-auto px-4 scrollbar-hide lg:left-0 lg:w-full lg:px-0"
      >
        <div class="block whitespace-nowrap lg:flex lg:space-x-5">
          {
            videos.map((video) => (
              <Card title={truncate(video.title)} img={video.img} />
            ))
          }
        </div>
      </div>
    </section>
    <section class="mt-12 lg:mt-16">
      <div>
        <h2 class="text-sm font-bold dark:text-white lg:text-2xl">
          Explore Latest Posts
        </h2>
        <p class="text-xs dark:text-gray-400 lg:text-sm">
          Click on play icon and enjoy post
        </p>
      </div>
      <div class="mt-5 lg:flex lg:w-full lg:space-x-5">
        <div class="lg:w-6/12">
          <div class="w-full overflow-hidden rounded-2xl">
            <img class="w-full" src={posts[0].img} alt="blog-1" />
          </div>
          <p class="mt-3 text-sm font-bold dark:text-white">
            {posts[0].title}
          </p>
          <p class="mt-3 text-xs dark:text-gray-400">
            {posts[0].description}
          </p>
        </div>
        <div class="mt-8 lg:mt-0 lg:w-6/12 lg:space-y-8">
          {
            posts.splice(1).map((post) => (
              <div class="mb-5 flex items-center lg:space-x-3">
                <div class="basis-4/6">
                  <p class="text-xs font-bold dark:text-white">
                    {truncate(post.title)}
                  </p>
                  <p class="mt-2 text-xs dark:text-gray-400">
                    {truncate(post.description, 84)}
                  </p>
                </div>
                <div class="basis-2/6 overflow-hidden rounded-2xl">
                  <img class="w-full" src={post.img} alt="post-img" />
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>
    <footer class="mt-20 mb-8 flex flex-col items-center">
      <Logo
        svgClass="w-[20px] h-[16.42px] mb-2"
        pathClass="fill-primary dark:fill-gray-400"
      />
      <p class="text-center text-xs dark:text-gray-400">
        Copyright @ 2023 Emmanuel Villegas.<br />All Rights Reserved.
      </p>
    </footer>
  </main>
</Layout>
